/* for the testimonies view styling
*/
.testimonies {
    display: grid;
      grid-gap: 10px;
      grid-template-columns: 20% 80%;
      grid-template-areas:
      "header  header  "
      "image content "
      "published  published";
      background-color: bisque;
      color: #444;
      margin-left: 2px;
      margin-bottom: 5px;
      border-radius: 5px;
}
  .image {
    grid-area: image;
    margin-left: 2px;
    border: 2px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  
  .content {
    grid-area: content;
    position: relative;
  }
  
  .header {
    grid-area: header;
    line-height: 0%;
  }
  
  .published {
    grid-area: published;
  }
 